<h1><%= @movie %></h1>

<div class="table-responsive">
  <table class="table table-bordered">
 
  <tbody>
  	<% @screenings.each do |screening| %>
    <tr class="text-center">
      <td><p class="lead"><%= decorated_date(screening.start) %></p></td>
      <td>
        <% if screening.seats == 0 %>
          <%= link_to 'Sold Out', '#', class: "btn btn-primary btn-lg disabled" %>
        <% else %>
          <%= link_to 'Buy Ticket', new_screening_order_path(screening), class: "btn btn-primary btn-lg" %>
        <% end %>
        </td>
    </tr>
    <% end %>
  </tbody>
  </table>
</div>
