<p><%= link_to 'cancel', manage_auditoriums_path, class: "float-right" %></p>
<h1>Add New Auditorium</h1>
<hr/>
<div class="jumbotron">
	<%= simple_form_for @auditorium, url: manage_auditoriums_path do |f| %>
		<%= render 'form', :f => f %>
	<% end %>
</div>