
<div class="jumbotron">
	<%= link_to 'Edit auditorium', edit_manage_auditorium_path(@auditorium), class: "btn btn-primary float-right"  %>
	<h1><%= @auditorium.name %></h1>
	<small>capacity: <%= @auditorium.capacity %></small>
</div>

<ul>
	<% @auditorium.movies.each do |movie| %>
		<%= movie %>
	<% end %>
</ul>