<ul class="list-group">
	<li class="list-group-item"><%= link_to 'Manage Auditoriums', manage_auditoriums_path %></li>
	<li class="list-group-item"><%= link_to 'Manage Movies', manage_movies_path %></li>
	<li class="list-group-item"><%= link_to 'Track Orders', manage_orders_path %></li>
</ul>